<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- log http requests -->
	<logger name="javamelody" level="info"/>

	<!-- internal log -->
	<logger name="net.bull.javamelody" level="info"/>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
