/* style sheet */
body {
	background-color: white;
	background: url(?resource=backgroundGradient.png) bottom left fixed
		repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

img {
	border: 0px;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #0000BB;
}

a:hover, a:visited:hover {
	text-decoration: underline;
	color: #0000BB;
}

a:visited {
	color: #6600BB;
}

a img {
	transition: all 0.3s ease;
}

a:hover img {
	transform: scale(1.25);
	-webkit-filter: drop-shadow(2px 2px 1px grey) /* Safari and Chrome */
}

.chapterTitle img {
	width: 24px;
	height: 24px;
}

.synthese {
	box-shadow: 2px 2px 3px #888;
	transition: all 0.3s ease;
}

.synthese:hover {
	transform: scale(1.05);
	-webkit-filter: drop-shadow(2px 2px 1px grey) /* Safari and Chrome */
}

table {
	border-color: gray;
	border-spacing: 0;
	border-radius: 5px;
}

th {
	font-size: 11px;
	padding: 2px;
	background-color: #F0F0F0;
	cursor: pointer;
}

table tr.odd td {
	background-color: #F5F5F5;
}

table tr.highlight td {
	background-color: #E0E0E0;
}

td {
	font-size: 11px;
	padding: 2px;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 5px
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 5px
}

table thead th:first-child {
	border-top-left-radius: 5px
}

table thead th:last-child {
	border-top-right-radius: 5px
}

.wrappedText {
	/* wrap very long words in requests and errors cells */
	word-wrap: break-word;
	word-break: break-all;
}

.tooltip {
	/* pour que <div class=tooltip> soit comme <a> */
	color: #0000BB;
}

.tooltip em {
	display: none;
}

.tooltip:hover {
	border: 0;
	position: relative;
	/* marche pas avec texte long qui se wrappe: z-index: 500; */
	text-decoration: none;
	overflow: visible; /* for RUM tooltips */
}

.tooltip:hover em {
	font-style: normal;
	display: block;
	position: absolute;
	top: 12px;
	left: 20px;
	/* une width fixe est nécessaire pour MSIE 7,
	mais cela gâcherait tout sur firefox, chrome ou MSIE8 qui n'en ont pas besoin
	width: 800px; */
	border-radius: 6px;
	padding: 5px;
	color: #000;
	border: 1px solid #bbb;
	background: #ffc;
	box-shadow: 3px 3px 4px #888;
	text-align: left;
}

div#track, div#handle {
	height: 18px;
}

div#track {
	width: 200px;
	margin-left: 300px;
	background: url( '?resource=scaler_slider_track.gif' ) center left
		repeat-x;
}

div#handle {
	width: 18px;
	cursor: col-resize;
}

.sqlKeyword {
	color: #880000;
	font-weight: bold;
	font-size: 12px;
}

.explainPlan {
	font-size: 8pt;
	font-family: monospace;
}

.rumData {
	width: 100%;
	height: 20px;
	table-layout: fixed; /* works with overflow: hidden; white-space: nowrap; below */
}

.rumDataNetwork {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.rumDataPageRendering {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.rumDataNetwork, .rumDataServer, .rumDataDomProcessing, .rumDataPageRendering {
	text-align: center;
	font-size: 11px;
	color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px;
}

.rumDataNetwork {
	/* green gradient */
	background-image: linear-gradient(to bottom, #5cb85c 0px, #449d44 100%);
}

.rumDataServer {
	/* red gradient */
	background-image: linear-gradient(to bottom, #d9534f 0px, #c9302c 100%);
}

.rumDataDomProcessing {
	/* orange gradient */
	background-image: linear-gradient(to bottom, #f0ad4e 0px, #ec971f 100%);	
}

.rumDataPageRendering {
	/* blue gradient */
	background-image: linear-gradient(to bottom, #5bc0de 0px, #31b0d5 100%);
}

.info {
	color: green;
}

.warning {
	color: orange;
	font-weight: bold;
}

.severe {
	color: red;
	font-weight: bold;
}

form {
	background-color: #F5F5F5;
	font-size: 11px;
	border-radius: 2px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

input[type=text] {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	border-radius: 1px;
	transition: all 0.3s ease;
}

input[type=text]:hover {
	border: 1px solid #999999;
	border-top: 1px solid #808080;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus {
	outline: none;
	border: 1px solid #4d90fe;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

input[type=submit]:active {
	border: medium none transparent;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.15));
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px
		rgba(0, 0, 0, 0.3) inset;
}

input[type=submit]:hover {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%,
		rgba(0, 0, 0, 0.15));
}

input[type=submit] {
	display: inline-block;
	font-size: 100%;
	padding: 0.4em 1em 0.45em;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
	border: medium none transparent;
	background-color: #E6E6E6;
	background-image: linear-gradient(rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.15) 40%, transparent);
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset, 0px 2px 0px
		rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.1s linear 0s;
}

input[type=checkbox] {
	vertical-align: bottom;
	margin: 0px;
}

#menuBox {
	width: 268px;
	font-size: 12px;
	line-height: 20px;
	right: -240px;
	top: 57px; /* change this value to place the menu higher or lower */
	position: fixed;
	z-index: 100;
}

#menuTab {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 99;
}

#menuTab li span {
	display: block;
	padding: 0 5px;
	position: relative;
}

#menuLinks {
	width: 180px;
	padding: 2px;
	/*border-left: 1px solid #B4B8BB;*/
	float: left;
}

.menuShow, .menuHide {
	/* we specify the transition length for hiding and showing */
	transition: margin-right .4s ease-in;
}

.menuHide {
	margin-right: 0px;
}

.menuShow {
	margin-right: 195px;
}

#menuToggle, .menuButton {
	cursor: pointer;
}

#menuToggle {
	width: 30px;
	height: 26px;
}

.menuButton {
	width: 190px;
	height: 25px;
	margin: -1px;
	text-align: center;
	border: 1px solid #8A8D92;
	font: bold 13px Helvetica, Arial, sans-serif;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	background: #1D4151;
	background-image: -o-linear-gradient(left, #A1A1A1, #6C6C6C);
	background-image: -ms-linear-gradient(left, #A1A1A1, #6C6C6C);
	background-image: -moz-linear-gradient(left, #A1A1A1, #6C6C6C);
	background-image: -webkit-linear-gradient(left, #A1A1A1, #6C6C6C);
	background-image: -webkit-gradient(linear, left top, right top, from(#A1A1A1),
		to(#6C6C6C));
}

.menuButton a {
	line-height: 25px;
	color: #E5E5E5;
	display: block;
	text-decoration: none;
}

.menuButton:hover {
	background: #6C6D76;
	transition: background .3s linear;
}

#menuDeco {
	width: 188px;
	float: left;
	box-shadow: 0px 0px 5px #000;
}

@media print {
	.noPrint {
		display: none;
	}
	body {
		zoom: 80%; /* for graphs layout in print, except in firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=390936 */
	}
	a, a:visited {
		color: #000000;
	}
	.tooltip {
		/* pour que <div class=tooltip> soit comme <a> */
		color: #000000;
	}
}

/* JavaHTMLizer */
code {
	font-size: 12px;
}

code .string {
	color: blue;
}

code .comment {
	font-style: italic;
	color: green;
}

code .keyword {
	font-weight: bold;
	color: purple;
}

code .comment .keyword {
	color: green;
	font-weight: normal;
}

code .comment .string {
	color: green;
}

/* lightwindow, http://www.p51labs.com/lightwindow/ */
#lightwindow_overlay {
	/* REQUIRED */
	display: none;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 500;
	/* REQUIRED */
}

#lightwindow {
	/* REQUIRED */
	/* Of Note - The height and width of this element are set to 0px */
	display: none;
	visibility: hidden;
	position: absolute;
	z-index: 999;
	line-height: 0px;
	/* REQUIRED */
}

	#lightwindow_container {
		/* REQUIRED */
		display: none;
		visibility: hidden;
		position: absolute;
		/* REQUIRED */
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}

	/* IE6 needs this or it messes with our positioning */
	* html #lightwindow_container {
		overflow: hidden;
	}

	#lightwindow_contents {
		overflow: hidden;
		z-index: 0;
		position: relative;
		border: 10px solid #ffffff;
		background-color: #ffffff;
	}

#lightwindow_loading {
	/* REQUIRED */
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 9999;
	position: absolute;
	/* REQUIRED */
	background-color: #f0f0f0;
	padding: 10px;
}

	#lightwindow_loading_shim {
		display: none;
		left: 0px; 
		position: absolute; 
		top: 0px;
		width: 100%; 
		height: 100%;
	}

	#lightwindow_loading span {
		font-size: 12px;
		line-height: 32px;
		color: #444444;
		float: left;
		padding: 0 10px 0 0;
	}

	#lightwindow_loading span a,
	#lightwindow_loading span a:link,
	#lightwindow_loading span a:visited {
		color: #09F;
		text-decoration: none;
		cursor: pointer;
	}

	#lightwindow_loading span a:hover,
	#lightwindow_loading span a:active {
		text-decoration: underline;
	}

	#lightwindow_loading img {
		float: left;
		margin: 0 10px 0 0;
	}
	
#lightwindow_title_bar {
	height: 25px;
	overflow: hidden;
}

	#lightwindow_title_bar_title {
		color: lightgray;
		font-size: 14px;
		font-weight: bold;
		line-height: 25px;
		text-align: left;
		float: left;
	}

	a#lightwindow_title_bar_close_link,	
	a:link#lightwindow_title_bar_close_link,
	a:visited#lightwindow_title_bar_close_link {
		float: right;
		text-align: right;
		cursor: pointer;
		color: lightgray;
		line-height: 25px;
		padding: 0;
		margin: 0;
	}

	a:hover#lightwindow_title_bar_close_link,
	a:active#lightwindow_title_bar_close_link {
		color: #ffffff;
		text-decoration: none;
	}

#lightwindow p {
	color: #000000;
	padding-right: 10px;
}

/*!
 * "Fork me on GitHub" CSS ribbon v0.2.0 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

.github-fork-ribbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  font-size: 13px;
  text-decoration: none;
  text-indent: -999999px;
}

.github-fork-ribbon.fixed {
  position: fixed;
}

.github-fork-ribbon:before, .github-fork-ribbon:after {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  
  top: 3.23em;
  right: -3.23em;
  
  box-sizing: content-box;

  transform: rotate(45deg);
}

.github-fork-ribbon:before {
  content: "";

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: .38em 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);

  pointer-events: auto;
}

.github-fork-ribbon:after {
  /* Set the text from the title attribute */
  content: attr(title);

  /* Set the text properties */
  color: #fff;
  font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;

  /* Set the layout properties */
  padding: .15em 0;
  margin: .15em 0;

  /* Add "stitching" effect */
  border-width: .08em 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon.left-top, .github-fork-ribbon.left-bottom {
  right: auto;
  left: 0;
}

.github-fork-ribbon.left-bottom, .github-fork-ribbon.right-bottom {
  top: auto;
  bottom: 0;
}

.github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after {
  right: auto;
  left: -3.23em;
}

.github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
  top: auto;
  bottom: 3.23em;
}

.github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
  transform: rotate(-45deg);
}
