<?xml version="1.0" encoding="UTF-8" ?>
<!-- cette webapp avec cette servlet est utilisée dans un serveur de collecte séparé de l'application monitorée -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>monitoring</display-name>
	<distributable />
	
	<servlet>
		<servlet-name>monitoringServer</servlet-name>
		<servlet-class>net.bull.javamelody.CollectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitoringServer</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
