/* This CSS file is used an add-on to monitoring.css, in order to ease custom styles, without overriding all monitoring.css */

/* To use it, write a file "/customizedMonitoring.css" with your own styles, at the root of the web content in your webapp.

And add the following in the web.xml file of your webapp :
 <filter>
	<filter-name>customResourceFilter</filter-name>
	<filter-class>net.bull.javamelody.CustomResourceFilter</filter-class>
	<init-param>
		<param-name>customizableMonitoring.css</param-name>
		<param-value>/customizedMonitoring.css</param-value>
	</init-param>
 </filter>
 <filter-mapping>
	<filter-name>customResourceFilter</filter-name>
	<url-pattern>/monitoring</url-pattern>
 </filter-mapping>
*/
