/* style sheet */

body {
	background-color:white;
	background: url(?resource=backgroundGradient.png) bottom left fixed repeat-x;
}

a {text-decoration:none; color:#0000BB;}
a:hover {text-decoration:underline; color:#0000BB;}
a:visited {color: #6600BB;}

img {border : 0px; vertical-align : middle;}
.synthese {
	-moz-box-shadow: 2px 2px 3px #888;
	-webkit-box-shadow: 2px 2px 3px #888;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#888888, direction=135, strength=3);
}
@media screen and (-webkit-device-pixel-ratio: 1.5),
	   screen and (-webkit-device-pixel-ratio: 1.0),
	   screen and (-webkit-device-pixel-ratio: 0.75),
	   screen and not (-webkit-min-device-width: 1024px)  {
	/* android and iphone and not others WebKits */
	.synthese {
		width: 229px;
	}
}

th {background-color:#F0F0F0; font-size: 10pt;}
table {
	border-color:gray;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
table tr.odd td {background-color: #F5F5F5;}
table tr.highlight td {background-color: #E0E0E0;}
td {font-size: 10pt;}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px
}
table thead th:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px
}
table thead th:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px
}

.tooltip em {
    display:none;
}
.tooltip:hover {
    border: 0;
    position: relative;
/* marche pas avec texte long qui se wrappe: z-index: 500; */
    text-decoration:none;
    text-align:left;
}
.tooltip:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
	/* une width fixe est nécessaire pour MSIE 7,
	mais cela gâcherait tout sur firefox, chrome ou MSIE8 qui n'en ont pas besoin
    width: 800px; */
    padding: 5px;
    color: #000;
    border: 1px solid #bbb;
    background: #ffc;
    -moz-box-shadow: 2px 2px 3px #888;
    -webkit-box-shadow: 2px 2px 3px #888;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#888888, direction=135, strength=3);
}

div#track, div#handle {
    height: 18px;
}

div#track {
	width: 200px;
	margin-left: 300px;
    background: url( '?resource=scaler_slider_track.gif' ) center left repeat-x;
}

div#handle {
    width: 18px;
    cursor: col-resize;
}

.explainPlan {
	font-size:8pt; font-family:monospace;
}

.info {color:green;}
.warning {color:orange; font-weight:bold;}
.severe {color:red; font-weight:bold;}

form {background-color:#F5F5F5; font-size: 10pt;}

@media print { .noPrint { display: none; } }

